body {
    background-image: url("backgroundwallpaper.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    margin-bottom: 60px;
}

/*this puts a margin above the text and below the about me header*/

.card {
    margin-top: 1em;
}

/*this colors the text on the about page white*/

p {
    color: white;
}

a {
    color: white;
}

img {
    height: 400px;
}

/*this creates the sticky footer for the page*/

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightblue;
}