body {
    background-image: url("backgroundwallpaper.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    margin-bottom: 60px;
}

/*these styles size the image right and put a margin between the images*/

img {
    width: 100%;
    height: 100%;
}

.top-buffer {
    margin-top: 2em;
}

/*these create the sticky footer for the page*/

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightblue;
}

