/* these styles put margins between the input boxes*/

.btn-primary {
    margin-bottom: 1em;
}

.form-group1 {
    margin-top: 1em;
}

.form-group {
    margin-top: 1em;
}

body {
    background-image: url("backgroundwallpaper.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    margin-bottom: 60px;
}

/*this creates the sticky footer for the page*/

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightblue;
}